<div class="row justify-content-center password-form">
  <div class="col-md-4">
    <form [formGroup]="changePasswordForm" autocomplete="off" novalidate class="content add-data change-pwd">
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline">
            <mat-label>Current Password</mat-label>
            <input matInput formControlName="oldPassword" appNoSpaces [errorStateMatcher]="errorMatcher" type="password">
            <mat-error
              *ngIf="changePasswordForm.get('oldPassword').hasError('required') || changePasswordForm.get('oldPassword').hasError('whitespace') ">
              Please enter current password
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" appNoSpaces [errorStateMatcher]="errorMatcher" type="password">
            <mat-error
              *ngIf="changePasswordForm.get('newPassword').hasError('required') || changePasswordForm.get('newPassword').hasError('whitespace') ">
              Please enter new passord
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('pattern')">
              Password must be 8 character with symbol and number </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline">
            <mat-label>confirm password</mat-label>
            <input matInput formControlName="confirmPassword" appNoSpaces [errorStateMatcher]="errorMatcher"
              type="password">
            <mat-error
              *ngIf="changePasswordForm.get('confirmPassword').hasError('required') || changePasswordForm.get('confirmPassword').hasError('whitespace') ">
              Confirm password is required
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('mustMatch')" class="fa fa-warning">
            New password and confirm must  be same
          </mat-error>
          <mat-error
            *ngIf="isFormSubmitted && changePasswordForm.get('confirmPassword').value && changePasswordForm.get('newPassword').value === changePasswordForm.get('oldPassword').value"
            class="fa fa-warning">
            New password and confirm must  be same
          </mat-error>
        </div>

      </div>
      <div mat-dialog-actions class="btnSubmit submitbutton">
        <button mat-button (click)="cancel()" class="btncancel">Cancel</button>&nbsp;
        <button mat-button (click)="onSubmit()" cdkFocusInitial>Save</button>
      </div>
    </form>
  </div>
</div>