<!--<p>not-found works!</p>-->
<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <div></div>
      <h1>404</h1>
    </div>
    <h2>Page not found</h2>
    <p>Page not found 404</p>
    <div class="submitbutton">
      <div class="btnSubmit">
        <button type="submit" [disabled]="isDisabled" class="gotohomepagebtn" (click) = "onRedirect()" mat-raised-button color="primary">
          <i class="fa fa-long-arrow-left font-20 arrow arrow-left animate-left-to-right mr-1" aria-hidden="true"></i> Todo
        </button>
      </div>
    </div>
  </div>
</div>
